@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "General Sans", sans-serif;
}

body {
  background-image: url("./assets/bbblurry1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all ease-in 1s;
  scroll-behavior: smooth;
}

.logo_Img li img {
  width: 25px;
  margin-bottom: 10px;
}
.logo_Img li {
  width: 8.5rem;
  height: 8rem;
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-radius: 1rem;
  padding: 15px;
  font-weight: 500;
  cursor: pointer;
}

.Sidebar img {
  width: 20px;
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
